<div>
    <div>
        <!-- Aquí se muestra el header principal y general de la página. -->
        <app-header></app-header>
    </div>
    <div>
        <!-- Esta parte de la sección siempre estará en todas las páginas. -->
        <section class="ae-container-fluid rk-main">
            <!-- Aquí se llama a cada una de las páginas mediante un ruteo específico. -->
            <router-outlet></router-outlet>
        </section>
    </div>
    <div>
        <!-- Aquí se muestra el footer de la página al final de ella. -->
        <app-footer></app-footer>
    </div>
</div>
